---
import Username from '~/components/username.astro';
import Layout from '~/layout.astro';
---

<Layout>
    <h1>Hi <Username classes={['bg-emerald-600 text-white px-2']} />, Welcome to Astro in Zendesk!</h1>
    <p class="mt-4">Please refer to the username component as an example to get started.</p>
</Layout>

<script>
    import { getClient } from '~/zaf.js';

    const client = getClient();

    client.invoke('resize', { width: '100%', height: '200px' });
</script>
